# Entorno virtual
venv/
env/
.env
.venv311
venv311/
ENV/
env.bak/
venv.bak/

# Modelo entrenado 
cat_recognition/models/*.h5
cat_recognition/models/*.keras
*.pt
*.pth
*.ckpt
/checkpoint/
cat_recognition/models/class_names_v3.npy
cat_recognition/models/class_names.npy

# Historial de predicciones (datos locales)
cat_recognition/historial/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*$py.class
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Imágenes temporales y capturas
*.jpg
*.jpeg
*.png
*.bmp
*.gif
!cat_recognition/static/**

# Datasets 
data/
datasets/
*.zip
*.tar.gz
*.rar

# Logs
logs/
*.log
tensorboard_logs/

# VS Code
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Windows
Thumbs.db
desktop.ini

# --- EXCEPCIÓN: El modelo ONNX final SÍ debe subirse ---
!/models/
!/models/*.onnx
!/models/*.npy